@media (max-width:1047px){
	.main{
		margin-top: 60px;
	}
	.main-menu {
		// float: right;
		// display: flex;
		// text-align: center;
		// justify-content: space-between;
		margin: 0 auto;

	}
	.exchange{


	}
}
@media(max-width: 767px){
	.left-colom{
		.inner-colom{
			// float: none;
			// display: flex;
			margin: 0 auto;
		}
		&:after {
			display: none;

		}
		&:before {
			display: none;

		}
	}
	.right-colom {
		.inner-colom {
			margin: 0 auto;
		}
	}
}
@media(max-width: 768px){
	 .counters-info {
		// display: inline-block;
		// justify-content: flex-end;
		// flex-direction: row;
		// background: red;
	}
	.counter_title {
		// color: red;
	}
}
